.PipelineActivityList {

  .status-running {
    color: cornflowerblue;
  }

  .status-succeeded {
    color: green;
  }

  .status-failed {
    color: red;
  }
}



.RepositoryList {
  .status-running {
    color: cornflowerblue;
  }

  .status-succeeded {
    color: green;
  }

  .status-failed {
    color: red;
  }
}